.Home .lander {
    margin-left: 20px;
    margin-top: 40px;
    text-align: left;
  }
  
  .Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }
  
  .Home .lander p {
    color: #999;
  }
  
.row {
  width: 100vw !important;
}