@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;1,400&display=swap');

.gamelogo{
    width: 150px;
    margin-top: 10px;
}

.gametitle{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 5px;
}

@media only screen and (min-width: 360px) {
    .gamelogo{
        width: 160px;
        margin-top: -10px;
        margin-left: -10px;
    }
    .gametitle{
        margin-top: 10px;
        font-size: 2rem;
    }
}

@media only screen and (min-width: 600px) {
    .gamelogo{
        width: 60px;
        margin-top: -10px;
        margin-right: 5px;
    }
    .gametitle{
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 768px) {
    .gamelogo{
        width: 100px;
        margin-top: 5px;
        margin-left: 2px;
    }
    .gametitle{
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1024px) {
    .gamelogo{
        width: 150px;
        margin-right: 15px;
    }
    .gametitle{
        font-size: 2.2rem;
    }
}