.homeimage img:hover {
    transition: transform 1s ease;
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.homeimage {
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 1);
    border-radius: 5px;
}

.homeimage {
    margin-top: 24px;
    overflow: hidden;
    width: fit-content;
    height: fit-content;
}

.homeimage img{
    /* Head Image */
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 150%;
    object-fit: cover;

    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    transition: transform 1s ease;  
}

@media only screen and (max-width: 1024px) {
    .homeimage img{
        height: 50vh;
    }
}