@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;1,400&display=swap');

.navbutton {
    font-family: 'Josefin Sans', sans-serif !important;
    font-size: 0.875rem !important;
    color: white !important;
}

.navbutton:hover{
    color: white !important;
}