@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;1,400&display=swap');
@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }

:root{
    --base-red : #FF4646;
    --dark-grey : #2E2E2E;
    --white : #FFFFFF
}

*{
    box-sizing: border-box;
}

.dark-grey-bg {
    background-color: var(--dark-grey) !important;
}

.shadow{
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.2);
}

.denom-header{
    font-family: 'Product Sans', sans-serif;
    margin-bottom: -10px;
    color: var(--white);
}

.denom-header p{
    margin-top: -5px;
    margin-bottom: 20px;
    color: var(--white) !important;
}

.denom Button{
    width: 23.8%;
    margin: 5px 5px;
    padding: 5px;
}


@media only screen and (min-width: 320px) {
    .denom Button {
        width: 29%;
        height: 40px;
        margin: 5px 5px;
    }
}

@media only screen and (min-width: 360px) {
    .denom Button {
        width: 29%;
        height: 40px;
        margin: 5px 5px;
    }
}

@media only screen and (min-width: 411px) {
    .denom Button {
        width: 30%;
        height: 40px;
        margin: 5px 5px;
    }
}

@media only screen and (min-width: 411px) {
    .denom Button {
        width: 30.3%;
        height: 40px;
        margin: 5px 5px;
    }
}

@media only screen and (min-width: 575px) {
    .denom Button {
        width: 28%;
        height: 40px;
        margin: 5px 5px;
    }
}

@media only screen and (min-width: 640px) {
    .denom Button {
        width: 28%;
        height: 40px;
        margin: 5px 5px;
    }
}

@media only screen and (min-width: 768px) {
    .denom Button {
        width: 22%;
        height: 50px;
        margin: 5px 5px;
    }
}

@media only screen and (min-width: 1024px) {
    .denom Button {
        width: 23%;
        height: 50px;
        margin: 5px 5px;
    }
}

@media only screen and (min-width: 1080px) {
    .denom Button {
        width: 23%;
        height: 40px;
        margin: 5px 5px;
    }
}

.red-border{
    border-color: var(--base-red)!important;
    border-width: 5px;
}

.payment-methods img{
    width: 7%;
}

@media only screen and (max-width: 600px) {
    .payment-methods img{
        padding-left: 10px;
        width: 20%;
    }
  }

.payment-methods h3{
    margin: auto;
    font-size: 1.1rem;
    color: var(--base-red);
}

.checkoutbutton{
    font-family: 'Product Sans', sans-serif;
    width: 30% !important;
    height: 70px !important;
    font-size: 30px;
    background-color: var(--base-red) !important;
    border: var(--base-red) !important;
    color: white !important;
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0) !important;
    transition: ease-in 0.2s !important;
}

.checkoutbutton:hover{
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.3) !important;
    transition: ease-in 0.2s !important;
}

@media only screen and (min-width: 320px) {
    .checkoutbutton{
        width: 40% !important;
        height: 50px !important;
        font-size: 1rem;
        margin-top: -30px;
    }
}

@media only screen and (min-width: 360px) {
    .checkoutbutton{
        width: 40% !important;
        height: 70px !important;
        font-size: 1.2rem;
        margin-top: -30px;
    }
}

@media only screen and (min-width: 600px) {
    .checkoutbutton{
        margin-top: -20px;
        width: 40% !important;
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1024px) {
    .checkoutbutton{
        margin-top: -20px;
        width: 30% !important;
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 1080px) {
    .checkoutbutton{
        margin-top: -20px;
        width: 20% !important;
        font-size: 1.4rem;
    }
}
.orange-button{
    color: white;
    border-color: var(--base-red) !important;
    background-color: var(--base-red);
}

.orange-button:hover{
    color: white;
}

.button-color-outline{
    border-color: var(--base-red) !important;
    border-width: 2px;
    color: var(--base-red);
}

.button-color-outline:hover{
    background-color : var(--base-red) !important;
    color: white;
}

.lg-btn{
    width: 70px;
}

.method{
    transition: ease-in 0.2s !important;
    background-color: #222222 !important;
    cursor: pointer;
}

.method-inactive{
    background-color: #2E2E2E !important;
}

.choose{
    transition: ease-in 0.2s !important;
    box-shadow: inset 10px 4px 10px rgba(0, 0, 0, 0.7);
    background-color: var(--base-red) !important;
}

.choose h3{
    transition: ease-in 0.2s !important;
    color: white;
}

.choose:hover{
    cursor: pointer;
}