@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body {
    background-color: #222222;
}

.forgotpassword {
    display: flex;
    width: 100%;
    height: 95vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forgotpassword__logo {
    width: 60px;
}

.forgotpassword__header {
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
}

.forgotpassword__form {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    justify-content: center;
}

.forgotpassword__caption {
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}

.forgotpassword__input {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    width: 97%;
    height: 30px;
    border: solid #FF4646 2px;
    background-color: transparent;
    color: #ffffff;
}

.forgotpassword__input:focus {    
    outline: none;
}

.forgotpassword__button {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    border: 0px;
    cursor: pointer;
    background-color: #FF4646;
    color: #222222;
    transition: 0.1s ease-in-out;
}

.forgotpassword__button:hover {
    background-color: #FF4646;
    color: #ffffff;
    transition: 0.1s ease-in-out;
}

.forgotpassword__back {
    align-self: flex-start;
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    text-decoration: none;
    margin-top: 10px;
    transition: 0.1s ease-in-out;
}

.forgotpassword__back:hover {
    color: #FF4646;
    transition: 0.1s ease-in-out;
}

@media only screen and (max-width: 600px) {
    .forgotpassword {
        width: 90%;
        margin: 0 auto;
    }
    .forgotpassword__form {
        width: 100%;
    }
  }