.Home .lander {
    margin-left: 20px;
    margin-top: 40px;
    text-align: left;
  }

  @media only screen and (max-width: 600px) {
    .Home .lander {
      margin-left: 0px;
    }
  }
  
  .Home .lander p {
    color: #999;
  }
  