:root{
  --base-red : #FF4646;
  --dark-grey : #2E2E2E;
  --white : #FFFFFF
}


.Login {
  padding: 60px 0;
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}

.MuiFormLabel-root {
  color: white !important;
}

.MuiInputBase-input {
  color: white !important;
}

.link:hover {
  cursor: pointer;
}